@charset "UTF-8";


/* Clearfloat 2000(tm)*/

.cf:after {
    content:"";
    display:table;
    clear:both;
}

body {
    font-family:"Droid Serif";

}

a {

}

.list { 
background: #f8f8f8;float:left;margin:0 4px;padding: 2px;position:relative;width:180px;
}